body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(247,119,214,1) 100%);
    }

.main {
    display:grid;
    width:100%;
}

.frame {
    background-color: whitesmoke;
    justify-self: center;
    display: flex;
    margin:300px;
    display:flex;
    border-radius: 20%;
    height:400px;
    align-items: center;
    flex-direction: column;
    width:400px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.frame h1 {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-weight: 100;
    font-size: 45px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
}

.frame h2 {
    font-family: 'Carrois Gothic SC', sans-serif;
}

#icon {
    height:200px;
    width:200px;
    border-radius: 60%;
    align-items: center;   
}

.description {
    text-align:center;
    margin-top:20px;
    overflow:hidden;
    height:16em;
}


.description > .one > .two {
    height:5em;
    margin-top:-10em;
    display:inline-block;
  }
  
  .description div:first-child {
    animation: text-animation 2s infinite;
  }
  
  .one {
    background-color:#d8209b;
  }
  .two {
    background-color:#e240b4;
  }
  .three {
    background-color:#f071cc;
  }
  .four {
    background-color:rgb(248, 200, 238);
  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: -6em;}
    20% {margin-top: -6em;}
    30% {margin-top: -5em;}
    40% {margin-top: -8em;}
    60% {margin-top: -5em;}
    70% {margin-top: -5em;}
    80% {margin-top: -5em;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }